body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Noto Sans', sans-serif;
}

p,
a {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    color: #414141;
}

.container {
    width: 100%;
    display: flex;
}

.half-width {
    width: 50%;
    margin: 0 3%;
}

.one-third {
    width: 33.3%;
    margin: 5%;
}

.blue-color {
    color: #2196f3;
    font-family: 'Hind', sans-serif;
}

#nav-section {
    background-image: linear-gradient(251deg, #43caf6, #037af4);
}

.nav-wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 70px;
}

#restaurant-nav-name {
    width: 30%;
    text-align: center;
}

#restaurant-nav-name h2 {
    margin: 0;
    padding-top: 8px;
    align-content: center;
    font-size: 40px;
    color: white;
    font-weight: 800;
    letter-spacing: 4px;
}

.nav-item {
    width: 10%;
    text-align: center;
    padding: 20px;
    align-items: center;

}

.nav-item a {
    font-size: 23px;
    color: white;
}

.landig-page h1 {
    margin: 30px 0px;
    word-spacing: 8px;
}

.landig-page {
    margin: 0 0 5% 5%;
    padding: 2%;
}

#landig-page-container {
    height: 90vh;
}

.landig-page p {
    font-size: 20px;
    color: #000000;
}

.landig-page img {
    width: 90%;
}

.resturant-name {
    font-size: 70px;
}

.button {
    padding: 15px 45px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(100deg, #0e7cd3, #00dbdb);
}

.button a {
    color: white;
    font-size: 23px;
}

.about-me-item {
    padding: 0 2%;
    margin-top: 5%;
}

.about-me-item img {
    width: 60%;
    margin-left: 20%;
}

#about-me {
    background-image: url(images/fram1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-me-item p {
    font-size: 20px;
    margin-bottom: 5%;
    word-spacing: 5px;
    text-align: justify;
}



#recipe-section {
    margin-top: 5%;
}

.card {
    width: 90%;
    margin: 0 auto;
    padding: 5%;
    box-shadow: 10px 10px 40px #b6b6b6;
    border-radius: 15px;
}

.card img {
    width: 100%;
    border-radius: 15px;
    height: 300px;
}

.recipe-header {
    text-align: center;
}

.recipe-header p {
    width: 40%;
    margin: 0 auto;
}



#our-menu {
    background: url(images/Cake-pops.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2% 5%;
}

.dish-wrapper {
    display: flex;
}

#our-menu li {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

#our-menu h1 {
    text-align: center;
}

#our-menu h2 {
    font-size: 30px;
}

.price li {
    list-style: none;
}

.price h2 {
    margin-left: 15%;
}

#contuct div {
    margin: 5% 5%;
}

#contuct-info {
    padding: 2%;
    padding-bottom: 0;
    padding-left: 5%;
    box-shadow: 10px 10px 50px #979797;
    background-image: linear-gradient(45deg, #0043ff, cyan);
    border-radius: 15px;
    color: #fff;
}

#contuct-info h1 {
    color: white;
}

#contuct-info a,
#contuct-info p {
    color: #fff;
    font-size: 20px;
}

#contuct-img {
    border-radius: 15px;
    box-shadow: 10px 10px 50px #979797;
}

#footer {
    text-align: center;
    margin-top: 5%;
    padding: 2%;
    color: #fff;
    background: #262626;
}

#footer p {
    font-size: 20px;
}

#color-white {
    color: white;
}