body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Noto Sans', sans-serif;
}

p,
a {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

.container {
    width: 100%;
    display: flex;
}

.half-width {
    width: 50%;
    margin: 0 3%;
}

.one-third {
    width: 33.3%;
    margin: 5%;
    display: flex;
}

.blue-color {
    color: #2196f3;
}

.nav-section {
    background-image: linear-gradient(251deg, #43caf6, #037af4);
}

.nav-wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 70px;
}

#resturant-nav-name {
    width: 40%;
    text-align: center;
}

#resturant-nav-name h2 {
    margin: 0;
    padding-top: 12px;
    align-content: center;
    font-size: 35px;
    color: white;
    font-weight: 800;
    letter-spacing: 4px;
}

.nav-item {
    width: 10%;
    text-align: center;
    padding: 20px;
    align-items: center;

}

.nav-item a {
    font-size: 23px;
    color: white;
}

.landig-page h1 {
    margin: 30px 0px;
    word-spacing: 8px;
}

.landig-page {
    margin: 0 0 5% 5%;
    padding: 2%;
}

.landig-page-container {
    height: 90vh;
}

.landig-page p {
    font-size: 20px;
    color: #4d4d4d;
}

.landig-page img {
    width: 70%;
}

.button {
    padding: 10px 45px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(100deg, #0e7cd3, #00dbdb);
}

.button a {
    color: white;
    font-size: 23px;
}

.about-me-item {
    padding: 0 2%;
    margin-top: 5%;
}

.about-me-item img {
    width: 60%;
    margin-left: 20%;
}

.about-me {
    background-image: url(images/fram1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-me-item p {
    font-size: 20px;
    margin-bottom: 5%;
}



#recipe-section {
    margin-top: 5%;
}

.card {
    width: 90%;
    margin: 0 auto;
    padding: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
}

.card img {
    width: 100%;
    border-radius: 15px;
    height: 300px;
}

.recipe-header {
    text-align: center;
}

.recipe-header p {
    width: 40%;
    margin: 0 auto;
}